/* место для вашего кода */

/* переменные для быстрого написание стилей*/

:root {
    --font-raleway: Raleway;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
}

/* Тут всем шрифтам сразу присвоил шрифт, чтобы не прописывать в каждый селектор */

body {
    font-family: var(--font-raleway);
}

/* Стилизация шапки */

.header {
    padding: 96px 0;
}

/* Здесь написали стили к контейнеру для того чтобы весь контент страницы был по центру */


.container {
    width: 1100px;
    padding: 0 50px 0 50px;
    max-width: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    place-items: center;
}


.header__links-item {
    display: flex;
    gap: 32px;
    text-wrap: nowrap;
}

.header__links-list-item,
li {
    list-style: circle;
}

.header__links-list-item:first-child {
    list-style: none;

}

.header__logo {
    width: 140px;
    max-width: 100%;
    padding: 0 0 0 9px;
}



.no-underline {
    text-decoration: none;
}

.header__link {
    font-size: 18px;
    letter-spacing: 0.01em;
    font-weight: var(--font-regular);
    text-transform: lowercase;
}

.header__address-container {
    padding: 0 0 0 169px;
    font-weight: var(--font-regular);
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #000;
}

.header__address,
.header__email {
    display: block;
    font-style: normal;
    font-size: 18px;
}

/* Стилизация контента */