/* место для вашего кода */

/* overlay для затеменения фона */

.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

/* переменные для быстрого написание стилей*/

:root {
    --font-raleway: Raleway;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
}

/* Тут всем шрифтам сразу присвоил шрифт, чтобы не прописывать в каждый селектор */

body {
    font-family: var(--font-raleway), serif;
}

/* Здесь написали стили к контейнеру для того чтобы весь контент страницы был по центру */

.container {
    width: 1100px;
    padding: 0 50px 0 50px;
    max-width: 100%;
    margin: 0 auto;
}

/* Стилизация шапки */

.header {
    padding: 96px 0;
}




.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    place-items: center;
}


.header__links-item {
    display: flex;
    gap: 32px;
    text-wrap: nowrap;
}

.header__links-list-item,
li {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;

}

.header__logo {
    width: 140px;
    padding: 0 0 0 9px;
}

.header__logo-image {
    max-width: 100%;
}

.header__link_active .header__link {
    text-decoration: none;
}

.header__link {
    font-size: 18px;
    letter-spacing: 0.01em;
    font-weight: var(--font-regular);
    text-transform: lowercase;
}

.header__address-container {
    padding: 0 0 0 169px;
    font-weight: var(--font-regular);
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #000;
}

.header__address,
.header__email {
    display: block;
    font-style: normal;
    font-size: 18px;
}

/* Стилизация секции cover*/

.cover {
    background: url(../images/cover.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 167px 0 62px 0;
}

.main__title {
    position: relative;
    font-weight: var(--font-bold);
    font-size: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
    height: 355px;
    max-height: 100%;
    z-index: 1;
}

.aligned-text, .aligned-text_center, .aligned-text_right {
    display: block;
}

.aligned-text {
    text-align: left;
    line-height: 115%;
}

.aligned-text_center {
    text-align: center;
    line-height: 130%;
}

.aligned-text_right {
    text-align: right;
    line-height: 109%;
}


.letter-spacing-extended {
    letter-spacing: 0.6em;

}

.letter-spacing-extended__second {
    letter-spacing: 0.6em;

}

.letter-spacing-extended__third {
    letter-spacing: 0.6em;
}


.no-letter-spacing {
    letter-spacing: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover__description {
    padding: 130px 0 0 0;
}

.cover__description-text {
    font-weight: var(--font-regular);
    display: inline;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 1.1em;
    padding: 0 23px;
    z-index: 1;
}



.bet-button {
    display: inline;
    border: 1px #fff solid;
    padding: 12px 32px;
    z-index: 1;
}


.bet-button__text {
    font-weight: var(--font-medium);
    background: transparent;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

/* стилизация секции lots */

.lots {
    padding: 179px 0 146px 0;
}

.lots__heading {
    font-size: 40px;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    color: #000;
    margin: 0 0 27px 0;
}


.lots__card-list {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex: 0 1 auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 51px 40px;
    width: 341px;
    max-width: 100%;
    z-index: 1;
}

.card_type_film {
    background: url(../images/card-lot-01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__title {
    font-weight: var(--font-bold);
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    z-index: 1;
}

.card__text {
    font-weight: var(--font-regular);
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    margin-top: auto;
    z-index: 1;
}

.card_type_book {
    background: url(../images/card-lot-02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_type_picture {
    background: url(../images/card-lot-03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lots__look-more-link {
    font-weight: var(--font-regular);
    font-size: 20px;
    color: #000;
    display: block;
    margin-top: 30px;
}


/* стилизация секции about */


.about {
    padding: 0 0 180px 0;
}

.about__column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    place-content: center;
}

.about__logo {
    background-color: #000;
    padding: 65px 50px;
    border-radius: 50%;
}

.about__logo-image {
    max-width: 100%;
}

.about__title {
    font-weight: var(--font-bold);
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin-right: auto;
    margin-left: 55px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: var(--font-regular);
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #000;
}

.about__text p {
    width: 693px;
    max-width: 100%;
    margin-left: auto;
}

/* Стилизация footer */


.footer {
    padding: 0 0 88px 0;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
}



.footer__address {
    display: block;
    font-style: normal;
    font-size: 18px;
    font-weight: var(--font-regular);
    font-size: 18px;
    line-height: 135%;
    color: #000;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: -1;
    list-style: none;
}

.footer__menu-link_active .footer__menu-link {
    text-decoration: none;
}



.footer__menu-link {
    font-weight: var(--font-regular);
    font-size: 18px;
    color: #000;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    align-items: center;
}

.footer__social-list-item {
    width: 48px;
    list-style: none;
}

.footer__social-icon {
    max-width: 100%;
}

